div {
    background-color: teal;
    width: 200px;
    height: 200px;
}
p{
    font-size: 40px;
    color: tomato;
}
span {
    display: block;
    width: 500px;
    height: 100px;
    background-color: violet;
}